
.about-us {
    height: 100vh;
    width: 100%;
    padding: 90px 0;
    background: #ddd;
}

.pic {
    height: auto;
    width: 100%;
    max-width: 302px;
}

.about {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.text {
    width: 100%;
    max-width: 540px;
}


.text h2 {
    font-size: 2.5rem;
}

.text h5 {
    font-size: 1.8rem;
}

.text p {
    font-size: 1.2rem;
}

.data {
    margin-top: 30px;
}

.hire {
    font-size: 1rem;
}


@media (min-width: 768px) {
    .about {
        flex-direction: row;
    
    }

    .text {
        margin-right: 30px;
    }
}

