/* Signup.module.css */

.signup-box {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f4f4f4;
}

.signup-box h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.signup-box h4 {
    font-size: 16px;
    margin-bottom: 20px;
}

.signup-box form {
    display: flex;
    flex-direction: column;
}

.signup-box label {
    font-size: 14px;
    margin-bottom: 5px;
}

.signup-box input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-box input[type="button"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.signup-box input[type="button"]:hover {
    background-color: #45a049;
}

.para-2 {
    font-size: 14px;
    margin-top: 10px;
}

.para-2 a {
    color: #3498db;
    text-decoration: none;
    color: inherit;
}
.sicontainer {
    margin-top: 2rem;
    margin-bottom: 12rem;
}

